[submodule "third_party/boringssl"]
	path = third_party/boringssl
	url = https://github.com/google/boringssl.git
[submodule "third_party/vectorscan"]
	path = third_party/vectorscan
	url = https://github.com/VectorCamp/vectorscan.git
