[submodule "third_party/Arena"]
	path = third_party/Arena
	url = https://github.com/clapdb/Arena.git
[submodule "third_party/boringssl"]
	path = third_party/boringssl
	url = https://github.com/google/boringssl.git
